services:
  nextjs:
    build:
      context: .
      dockerfile: docker/Dockerfile.nextjs
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_started
      migrations:
        condition: service_completed_successfully
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://postgres:password@postgres:5432/mydatabase
      S3_ENDPOINT: 192.168.147.2
      S3_PORT: 9000
      S3_ACCESS_KEY: minioadmin
      S3_SECRET_KEY: minioadmin
      S3_USE_SSL: false
    command: [ "/bin/sh", "-c", "node server.js" ]

  migrations:
    build:
      context: .
      dockerfile: docker/Dockerfile.migrations
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://postgres:password@postgres:5432/mydatabase
    restart: on-failure
    command: [ "/bin/sh", "-c", "npx drizzle-kit migrate --config=drizzle.config.ts" ]

  postgres:
    image: pgvector/pgvector:pg16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    # ports:
    #  - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  minio_data:
