@import 'tailwindcss';
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@plugin 'tailwind-scrollbar-hide';

@custom-variant dark (&:is(.dark *));

:root {
  --card: hsl(191, 32%, 90%);
  --card-foreground: hsl(190deg 40% 20%);
  --popover: hsl(190deg 50% 95%);
  --popover-foreground: hsl(190deg 40% 20%);
  --primary: hsl(190deg 60% 40%);
  --primary-foreground: hsl(190deg 50% 95%);
  --secondary: hsl(170deg 50% 40%);
  --secondary-foreground: hsl(170deg 50% 90%);
  --muted: hsl(190deg 30% 80%);
  --muted-foreground: hsl(190deg 30% 50%);
  --accent: hsl(170deg 60% 35%);
  --accent-foreground: hsl(170deg 50% 90%);
  --destructive: hsl(0deg 70% 50%);
  --destructive-foreground: hsl(0deg 0% 100%);
  --border: hsl(190deg 40% 85%);
  --input: hsl(190deg 30% 80%);
  --ring: hsl(190deg 40% 20%);
  --chart-1: hsl(170deg 60% 40%);
  --chart-2: hsl(190deg 50% 40%);
  --chart-3: hsl(210deg 40% 30%);
  --chart-4: hsl(170deg 50% 50%);
  --chart-5: hsl(190deg 50% 60%);
  --radius: 0.5rem;
  --sidebar-background: hsl(191, 32%, 90%);
  --sidebar-foreground: hsl(190deg 40% 20%);
  --sidebar-primary: hsl(190deg 60% 40%);
  --sidebar-primary-foreground: hsl(190deg 50% 95%);
  --sidebar-accent: hsl(170deg 60% 35%);
  --sidebar-accent-foreground: hsl(170deg 50% 90%);
  --sidebar-border: hsl(190deg 40% 85%);
  --sidebar-ring: hsl(190deg 40% 20%);
  --background: hsl(190deg 50% 95%);
  --foreground: hsl(190deg 40% 20%);
}
.dark {
  --background: hsl(190deg 30% 15%);
  --foreground: hsl(170deg 50% 85%);
  --card: hsl(190deg 30% 20%);
  --card-foreground: hsl(170deg 50% 85%);
  --popover: hsl(190deg 30% 20%);
  --popover-foreground: hsl(170deg 50% 85%);
  --primary: hsl(190deg 60% 40%);
  --primary-foreground: hsl(190deg 50% 95%);
  --secondary: hsl(170deg 40% 30%);
  --secondary-foreground: hsl(170deg 50% 85%);
  --muted: hsl(190deg 20% 30%);
  --muted-foreground: hsl(170deg 30% 70%);
  --accent: hsl(170deg 60% 35%);
  --accent-foreground: hsl(170deg 50% 85%);
  --destructive: hsl(0deg 60% 40%);
  --destructive-foreground: hsl(0deg 0% 100%);
  --border: hsl(190deg 30% 25%);
  --input: hsl(190deg 20% 30%);
  --ring: hsl(190deg 40% 20%);
  --chart-1: hsl(170deg 60% 40%);
  --chart-2: hsl(190deg 50% 40%);
  --chart-3: hsl(210deg 40% 30%);
  --chart-4: hsl(170deg 50% 50%);
  --chart-5: hsl(190deg 50% 60%);
  --sidebar-background: hsl(190deg 30% 20%);
  --sidebar-foreground: hsl(170deg 50% 85%);
  --sidebar-primary: hsl(190deg 60% 40%);
  --sidebar-primary-foreground: hsl(190deg 50% 95%);
  --sidebar-accent: hsl(170deg 60% 35%);
  --sidebar-accent-foreground: hsl(170deg 50% 85%);
  --sidebar-border: hsl(190deg 30% 25%);
  --sidebar-ring: hsl(190deg 40% 20%);
  --radius: 0.5rem;
}

@theme inline {
  --default-border-width: 1px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar-background);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
